//- style: 'orange' | 'blue' | 'transparent-orange' | 'transparent-blue'
mixin Btn(style = 'orange')
    - var tag = attributes.href ? 'a' : 'button'

    #{tag}(
        class='a-btn a-btn--' + style
        class!=attributes.class
        onclick!=attributes.onclick
        disabled!=attributes.disabled
        href!=attributes.href
    )
        if block
            block
        else
            | Кнопка
